<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ключевые слова pyAliceKit</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/key_words.css" />
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <h1>pyAliceKit</h1>
                <nav>
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/settings.html">Настройки</a></li>
                        <li><a href="/dialog_nodes.html">Диалоговые узлы</a></li>
                        <li><a href="/key_words.html">Ключевые слова</a></li>
                        <li><a href="/buttons.html">Кнопки</a></li>
                        <li class="none"><a href="/development.html">Картинки</a></li>
                        <li class="none"><a href="/development.html">Доп. данные</a></li>
                        <li class="none"><a href="/development.html">Тестирование</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="key_words">

                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <p>&copy; 2025 pyAliceKit</p>
            </div>
        </footer>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/key_words.js"></script>
</body>

</html>